<main *ngIf="!selectedMesaId" class="titulo" >
  <head>
    <h1>Escolha de Mesa</h1>
    <div class="underline"></div>
  </head>
  <section class="mesas-container">
    <mat-card *ngFor="let mesa of mesas" (click)="selectMesa(mesa)"
      >{{ mesa }}.Mesa</mat-card
    >
  </section>
</main>

<section *ngIf="selectedMesaId" class="mesa-escolhida titulo">
  <head style="margin-bottom: 25px">
    <h1>Mesa {{ selectedMesaId }}</h1>
    <div class="underline"></div>
  </head>

  <button
    
    class="btn escolher-mesa"
    mat-raised-button
    (click)="escolherOutraMesa()"
  >
  Escolher Outra Mesa
   <mat-icon>deck</mat-icon>
  </button>

  <mat-card *ngFor="let pedido of selectedMesa">
    <mat-card-title>Nº Pedido {{ pedido.id }}</mat-card-title>
    <!-- Modo normal -->
    <mat-card-content *ngIf="!checkEdit(pedido.id)">
      <p>
        Item: <span>{{ pedido.item | uppercase }}</span>
      </p>
      <p>
        Quantidade: <span>{{ pedido.quantidade }}</span>
      </p>
      <p>
        Preço Total: <span>R$ {{ pedido.valor }}</span>
      </p>
      <p>
        Status: <span>{{ pedido.status | uppercase }}</span>
      </p>
    </mat-card-content>
    <!-- Modo de edição -->
    <mat-card-content class="edicao" *ngIf="checkEdit(pedido.id)">
      <mat-form-field appearance="fill">
        <mat-label>Item</mat-label>
        <mat-select [(ngModel)]="selectedPedidoById">
          <mat-option *ngFor="let item of itens" [value]="item.id"
            >{{ item.nome | uppercase }} R${{ item.valor }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Quantidade</mat-label>
        <input
          matInput
          placeholder="Quantidade"
          [(ngModel)]="selectedQuantidade"
          disabled
          class="custom-input"
        />
        <div class="button-container">
          <button mat-icon-button color="warn" (click)="remove()">
            <mat-icon>remove</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="add()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Mesa {{ pedido.mesa }}</mat-label>
        <mat-select [disabled]="true"> </mat-select>
      </mat-form-field>
    </mat-card-content>
    <!-- Modo Normal -->
    <mat-card-actions *ngIf="!checkEdit(pedido.id)">
      <button
        class="btn-cancelar"
        mat-raised-button
        color="warn"
        (click)="cancelarPedido(pedido.id)"
        [disabled]="isCancelado(pedido)"
      >
        Cancelar
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="alterarPedidoDialog(pedido.id)"
        [disabled]="isCancelado(pedido)"
      >
        Alterar
      </button>
      <button
        mat-raised-button
        class="btn-concluir"
        (click)="concluirPedido(pedido.id)"
        [disabled]="isCancelado(pedido)"
      >
        Concluir
      </button>
    </mat-card-actions>
    <!-- Modo de Edição -->
    <mat-card-actions *ngIf="checkEdit(pedido.id)">
      <button mat-raised-button color="warn" (click)="alterarPedidoDialog(-1)">
        Cancelar
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="alterarPedido(pedido.id)"
      >
        Confirmar Alteração
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="conta-total">
    <h2>Valor devido: R$ {{ valorTotal }}</h2>
    <button mat-raised-button color="warn" (click)="fecharMesa(selectedMesaId)">
      Fechar Conta da Mesa
    </button>
  </mat-card>
</section>
